  <div class= "paper"> 
    <div class="overlay">
    
    </div>
  </div>

<%= cl_image_tag("finais/#{@nomedaimagem}.png", :alt => "imagem") %>

<style >
  .overlay { 
  	background: url("<%= cloudinary_url("finais/#{@nomedaimagem}.png", :resource_type => :image) %>");
  }
</style>





  <script>
	var folded = new OriDomi('.paper', {
		speed:           3000,  
		ripple:          4,     // backwards ripple effect when animating
		perspective:     3000,   // smaller values exaggerate 3D distortion
		maxAngle:        180,    //fold range
		vPanels:         8, 
		hPanels:         1, 
		shading:         'soft', 
		touchEnabled:    true, 
		touchSensitivity: .10
	});

//weird effects - comment/uncomment/switch orders/change values for MAXIMUM FUN

	folded.stairs(43, 'left').stairs(43, 'right')

  </script>



